# Ignore model weights and big files
models/*.gguf
*.gguf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.DS_Store
progress.json


# VSCode or PyCharm
.idea/
*.iml

# Output
uploaded/
output/
*.csv

# Model files
*.bin
*.safetensors
*.pt
